.timeline-slider-root {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 70% 30%;
  font-family: "Inter";
}

.timeline-slider-loops-scroll-container {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  display: grid;
}

.timeline-slider-loops-scroll-container::-webkit-scrollbar {
  display: none;
}

.timeline-slider-loops-container {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}

.timeline-slider-ruler {
  width: 100%;
  height: 15%;
  z-index: 1;
}

.timeline-slider-loops {
  width: 100%;
  height: 85%;
  position: relative;
  display: flex;
  z-index: 1;
}

.timeline-slider-loop {
  width: 100%;
  height: 100%;
  border-radius: 0.25vh;
}

.timeline-slider-loop-handle-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline-slider-loop-handle {
  flex-shrink: 0;
  width: 2.5vh;
  height: 5vh;
  background-color: var(--primary-colour);
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline-slider-loop-handle:before {
  content: "";
  position: absolute;
  width: 2.5vh;
  aspect-ratio: 1;
  border-radius: 50%;
  top: 0;
  transform: translateY(-50%);
  background-color: var(--primary-colour);
  overflow: hidden;
}

.timeline-slider-loop-handle:after {
  content: "";
  position: absolute;
  width: 2.5vh;
  aspect-ratio: 1;
  border-radius: 50%;
  bottom: 0;
  transform: translateY(50%);
  background-color: var(--primary-colour);
  overflow: hidden;
}

.timeline-slider-loop-handle-accent {
  position: absolute;
  height: 75%;
  width: 10%;
  background-color: var(--accent-colour);
  z-index: 1;
}

.timeline-slider-loops-progress {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: var(--accent-colour);
}

.timeline-slider-controls-fc {
  width: 100%;
  background-color: var(--secondary-colour);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh;
}

.timeline-slider-controls-section {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.timeline-slider-play-pause {
  background: none;
  border: none;
  color: var(--primary-colour);
  font-size: 3.5vh;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.timeline-slider-timeline-container {
  width: 100%;
  height: 1vh;
  background-color: var(--background-colour);
  margin-left: 2vh;
  margin-right: 2vh;
  cursor: pointer;
}

.timeline-slider-timeline {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.timeline-slider-preview {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #9d9d9d;
  display: none;
}

.timeline-slider-timeline:hover .timeline-slider-preview {
  display: block;
}

.timeline-slider-progress {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: var(--error-colour);
}

.timeline-slider-scroller {
  z-index: 1;
  position: absolute;
  height: 200%;
  aspect-ratio: 1;
  border-radius: 50%;
  transform: translateX(-50%);
  background-color: var(--error-colour);
  display: none;
}

.timeline-slider-timeline:hover .timeline-slider-scroller {
  display: block;
}

.timeline-slider-timeline:active .timeline-slider-scroller {
  display: block;
}

.timeline-slider-icon {
  color: var(--primary-colour);
  font-size: 2.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 1vh;
  margin-right: 1vh;
}

.timeline-slider-icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline-slider-input-range {
  -webkit-appearance: none;
  width: 10vh;
  height: 0.75vh;
  border-radius: 1vh;
  margin-left: 2vh;
  cursor: pointer;
}

.timeline-slider-input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.5vh;
  height: 1.5vh;
  border-radius: 1.5vh;
  background: var(--primary-colour);
}

@media screen and (orientation: portrait) {
  .timeline-slider-preview {
    display: none;
  }

  .timeline-slider-scroller {
    display: block;
  }
}
