.layout-root {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.layout-sidebar-fc {
  min-width: 12.5vw;
  max-width: 12.5vw;
  flex: 0 0 12.5%;
  z-index: 1;
  display: none;
}

.layout-content-fc {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.layout-header-fc {
  min-height: 8vh;
  max-height: 8vh;
  flex: 0 0 8%;
}

.layout-footer-fc {
  min-height: 15vh;
  max-height: 15vh;
  flex: 0 0 15%;
}

.layout-main-fc {
  width: 100%;
  height: 100%;
  z-index: 1;
}

@media screen and (min-aspect-ratio: 14/9) {
  .layout-sidebar-fc {
    display: block;
  }

  .layout-content-fc {
    flex: 0 0 87.5%;
  }

  .layout-footer-fc {
    display: none;
  }
}

