.edit-loop-modal-background {
  width: 100%;
  height: 100%;
  background-color: #00000066;
  position: absolute;
  z-index: 2;
  opacity: 0;
}

.edit-loop-modal-root {
  width: 20%;
  height: 35%;
  background-color: var(--background-colour);
  border: 0.25vh solid;
  border-color: var(--secondary-colour);
  position: absolute;
  padding: 2vmin 3vmin;
  font-family: "Inter";
  -webkit-box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.25);
  z-index: 3;
  opacity: 0;
  border-radius: 2vmin;
}

.edit-loop-modal-form-fc {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.edit-loop-modal-form-fc h3 {
  font-size: 3.5vh;
  margin-bottom: 1vh;
}

.edit-loop-modal-inputs-fc {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-loop-modal-input-fc {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2vh;
}

.edit-loop-modal-input-fc label {
  font-size: 2.5vh;
  margin-right: 2vh;
}

.edit-loop-modal-input-fc input {
  width: 100%;
  border: 0.25vh solid;
  border-color: var(--secondary-colour);
  font-family: "Inter";
  font-size: 2vh;
  padding: 0.5vh 1vh;
  border-radius: 1vmin;
}

.edit-loop-modal-input-fc select {
  width: max-content;
  appearance: none;
  border: 0.25vh solid;
  border-color: var(--secondary-colour);
  font-family: "Inter";
  font-size: 2vh;
  padding: 0.5vh 1vh;
  border-radius: 1vmin;
  cursor: pointer;
}

.edit-loop-modal-actions-fc {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1vmin;
}

.edit-loop-modal-actions-fc button {
  width: 100%;
  height: 100%;
  font-size: 2vh;
  font-family: "Inter";
  padding: 0.5vh;
  cursor: pointer;
  border-radius: 2vmin;
}

.edit-loop-modal-exit {
  background: none;
  border: 0.25vh solid;
  border-color: var(--secondary-colour);
  margin-right: 1vmin;
}

.edit-loop-modal-submit {
  border: none;
  background-color: var(--secondary-colour);
  color: var(--primary-colour);
  margin-left: 1vmin;
}

@media screen and (max-width: 1200px) {
  .edit-loop-modal-root {
    width: 30%;
    height: 35%;
  }
}

@media screen and (orientation: portrait) {
  .edit-loop-modal-root {
    width: 75%;
    height: 32.5%;
  }
}
