.settings-modal-background {
  width: 100%;
  height: 100%;
  background-color: #00000066;
  position: absolute;
  z-index: 2;
  opacity: 0;
}

.settings-modal-root {
  width: 25%;
  height: 45%;
  background-color: var(--background-colour);
  border: 0.25vh solid;
  border-color: var(--secondary-colour);
  position: absolute;
  padding: 2vh 3vh;
  font-family: "Inter";
  -webkit-box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.25);
  z-index: 3;
  opacity: 0;
  border-radius: 2vh;
}

.settings-modal-form-fc {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.settings-modal-form-fc h1 {
  font-size: 3.5vh;
  margin-bottom: 1vh;
}

.settings-modal-inputs-fc {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.settings-modal-input-fc {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2vh;
}

.settings-modal-input-fc label {
  font-size: 2.5vh;
  margin-right: 2vh;
}

.settings-modal-input-fc input {
  width: 100%;
  border: 0.25vh solid;
  border-color: var(--secondary-colour);
  font-family: "Inter";
  font-size: 2vh;
  padding: 0.5vh 1vh;
  border-radius: 1vh;
}

.settings-modal-input-fc select {
  width: max-content;
  appearance: none;
  border: 0.25vh solid;
  border-color: var(--secondary-colour);
  font-family: "Inter";
  font-size: 2vh;
  padding: 0.5vh 1vh;
  border-radius: 1vh;
  cursor: pointer;
  background-color: var(--primary-colour);
}

.settings-modal-input-column-fc {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2vh;
}

.settings-modal-input-column-fc label {
  font-size: 2.5vh;
  margin-bottom: 1vh;
}

.settings-modal-tuning-inputs-fc {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings-modal-tuning-input {
  width: 100%;
  border-top: 0.25vh solid;
  border-bottom: 0.25vh solid;
  border-left: none;
  border-right: none;
  border-color: var(--secondary-colour);
  font-family: "Inter";
  font-size: 2vh;
  padding: 0.5vh 1vh;
  text-align: center;
}

.settings-modal-tuning-input:nth-child(-n + 6) {
  border-right: 0.25vh solid;
}

.settings-modal-tuning-input:nth-child(1) {
  border-left: 0.25vh solid;
  border-top-left-radius: 1vh;
  border-bottom-left-radius: 1vh;
}

.settings-modal-tuning-input:nth-child(6) {
  border-top-right-radius: 1vh;
  border-bottom-right-radius: 1vh;
}

.settings-modal-actions-fc {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1vh;
}

.settings-modal-actions-fc button {
  width: 100%;
  font-size: 2vh;
  font-family: "Inter";
  padding: 1vh;
  cursor: pointer;
  border-radius: 2vh;
}

.settings-modal-exit {
  background: none;
  border: 0.25vh solid;
  border-color: var(--secondary-colour);
  margin-right: 1vh;
}

.settings-modal-submit {
  border: none;
  background-color: var(--secondary-colour);
  color: var(--primary-colour);
  margin-left: 1vh;
}

@media screen and (max-width: 1200px) {
  .settings-modal-root {
    width: 35%;
    height: 45%;
  }
}

@media screen and (orientation: portrait) {
  .settings-modal-root {
    width: 80%;
    height: 47.5%;
  }
}
