.editor-page-root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  position: relative;
  user-select: none;
}

.editor-main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 7.5% 45% 25% 15% 7.5%;
  grid-template-columns: 100%;
}

.editor-main-header {
  border-bottom: 0.25vh solid;
  border-color: var(--secondary-colour);
}

.editor-main-video-gc {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  border-bottom: 0.25vh solid;
  border-color: var(--secondary-colour);
}

.editor-main-diagram-fc {
  width: 100%;
  height: 100%;
  display: flex;
  border-left: 0.25vh solid;
  border-color: var(--secondary-colour);
}

.editor-main-mobile-diagram-fc {
  display: none;
  border-bottom: 0.25vh solid;
  border-color: var(--secondary-colour);
}

.editor-main-loops-fc {
  border-bottom: 0.25vh solid;
  border-color: var(--secondary-colour);
  padding: 2vmin;
  display: flex;
  gap: 2vmin;
  overflow-x: scroll;
}

.editor-main-loops-fc::-webkit-scrollbar {
  display: none;
}

.editor-main-loop {
  height: 100%;
  flex-shrink: 0;
  aspect-ratio: 1;
  border: 0.25vh solid;
  border-color: var(--secondary-colour);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 2vmin;
  cursor: pointer;
  transition: 0.25s;
  overflow: hidden;
}

#editor-main-loop-selected {
  transform: scale(0.95);
  -webkit-box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.25);
}

.editor-main-loop p {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.25vh 1.5vh;
  font-size: 2vmin;
  z-index: 1;
}

.editor-main-loop h5 {
  position: absolute;
  bottom: 0;
  font-size: 2vmin;
  padding-bottom: 2vmin;
}

.editor-main-create-loop {
  height: 100%;
  aspect-ratio: 1;
  background: none;
  border: 0.25vh solid;
  border-color: var(--secondary-colour);
  cursor: pointer;
  font-size: 7vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  position: relative;
  border-radius: 2vmin;
}

/* editor new page */

.editor-new-page-root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
}

.editor-new-form-fc {
  width: 50%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.editor-new-form-field-main {
  width: 100%;
  font-size: 4vw;
  font-family: "Inter";
  background: none;
  border: none;
}

.editor-new-form-field-main:focus {
  outline: none;
}

.editor-new-form-label-fc {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1.5vw;
}

.editor-new-form-label-fc label {
  margin-right: 2vmin;
}

.editor-new-form-field {
  width: 100%;
  font-size: 1vw;
  font-family: "Inter";
  background: none;
  border: 0.25vh solid;
  border-color: var(--secondary-colour);
  padding: 1vmin;
}

.editor-new-form-field:focus {
  outline: none;
}

.editor-new-form-button {
  width: 25%;
}

@media screen and (orientation: portrait) {
  .editor-main {
    grid-template-rows: 7.5% 25% 30% 15% 15% 7.5%;
  }
  .editor-main-video-gc {
    grid-template-columns: 100%;
  }
  .editor-main-diagram-fc {
    display: none;
  }
  .editor-main-mobile-diagram-fc {
    display: flex;
  }
}

@media screen and (orientation: portrait) and (max-width: 500px) {
  .editor-main-loop p {
    font-size: 3vmin;
  }
  .editor-main-loop h5 {
    font-size: 3vmin;
  }
}
