.ec-page-root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-family: "Inter";
}

.ec-page-root h1 {
    font-size: 2.5vmin;
}

.ec-page-root h2 {
    font-size: 2vmin;
    margin-top: 2vmin;
}

.ec-status-success {
    width: 50%;
    margin-top: 2vmin;
    color: var(--success-colour);
    background-color: #00800023;
    padding: 0.5vmin 0.5vmin;
    border-radius: 0.25vmin;
    display: flex;
    align-items: center;
    text-align: center;
}

.ec-status-error {
    width: 50%;
    margin-top: 2vmin;
    color: var(--error-colour);
    background-color: #ff000023;
    padding: 0.5vmin 0.5vmin;
    border-radius: 0.25vmin;
    display: flex;
    align-items: center;
    text-align: center;
}