.search-page-root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  font-family: "Inter";
  color: var(--secondary-colour);
}

.search-categories-fc {
  width: 100%;
  height: 5%;
  display: flex;
  border-bottom: 0.25vh solid;
  border-color: var(--secondary-colour);
}

#search-category-active {
  background-color: var(--secondary-colour);
  color: var(--primary-colour);
  transition: 0.75s;
}

.search-category {
  flex: 0 0 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.75s;
}

.search-category:nth-child(-n + 3) {
  border-right: 0.25vh solid;
  border-color: var(--secondary-colour);
}

.search-category h3 {
  font-size: 1.5vh;
  padding: 2vmin;
}

@media screen and (orientation: portrait) {
  .search-categories-fc {
    height: 7.5%;
  }
}